# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
# package-lock.json

# Build / dist
dist/
build/
coverage/
.out/
.next/
.cache/

# Playwright
playwright-report/
blob-report/
test-results/
playwright/.cache/

# Env & secrets
.env
.env.*
!.env.example

#auth json files
data/auth/

#storagestate json files
data/storageState.json


# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Allure reports
allure-report/
allure-results/

# Schemathesis
schemathesis-allure-results/
schemathesis-allure-report/
schemathesis-report/
.hypothesis/

# Virtual environment
myenv/
.venv/
venv/